FerryClient/xml-resources/web-service-references/FerryServerService/wsdl/localhost_8080/Coursework253/FerryServerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cs253/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cs253/" name="FerryServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://cs253/" schemaLocation="http://localhost:8080/Coursework253/FerryServerService?xsd=1"/>
</xsd:schema>
</types>
<message name="getPort">
<part name="parameters" element="tns:getPort"/>
</message>
<message name="getPortResponse">
<part name="parameters" element="tns:getPortResponse"/>
</message>
<message name="getID">
<part name="parameters" element="tns:getID"/>
</message>
<message name="getIDResponse">
<part name="parameters" element="tns:getIDResponse"/>
</message>
<message name="addPort">
<part name="parameters" element="tns:addPort"/>
</message>
<message name="addPortResponse">
<part name="parameters" element="tns:addPortResponse"/>
</message>
<message name="addFerryRoute">
<part name="parameters" element="tns:addFerryRoute"/>
</message>
<message name="addFerryRouteResponse">
<part name="parameters" element="tns:addFerryRouteResponse"/>
</message>
<message name="deletePort">
<part name="parameters" element="tns:deletePort"/>
</message>
<message name="deletePortResponse">
<part name="parameters" element="tns:deletePortResponse"/>
</message>
<message name="deleteFerryRoute">
<part name="parameters" element="tns:deleteFerryRoute"/>
</message>
<message name="deleteFerryRouteResponse">
<part name="parameters" element="tns:deleteFerryRouteResponse"/>
</message>
<message name="getCompany">
<part name="parameters" element="tns:getCompany"/>
</message>
<message name="getCompanyResponse">
<part name="parameters" element="tns:getCompanyResponse"/>
</message>
<message name="getPortList">
<part name="parameters" element="tns:getPortList"/>
</message>
<message name="getPortListResponse">
<part name="parameters" element="tns:getPortListResponse"/>
</message>
<message name="getFerryList">
<part name="parameters" element="tns:getFerryList"/>
</message>
<message name="getFerryListResponse">
<part name="parameters" element="tns:getFerryListResponse"/>
</message>
<portType name="FerryServer">
<operation name="getPort">
<input wsam:Action="http://cs253/FerryServer/getPortRequest" message="tns:getPort"/>
<output wsam:Action="http://cs253/FerryServer/getPortResponse" message="tns:getPortResponse"/>
</operation>
<operation name="getID">
<input wsam:Action="http://cs253/FerryServer/getIDRequest" message="tns:getID"/>
<output wsam:Action="http://cs253/FerryServer/getIDResponse" message="tns:getIDResponse"/>
</operation>
<operation name="addPort">
<input wsam:Action="http://cs253/FerryServer/addPortRequest" message="tns:addPort"/>
<output wsam:Action="http://cs253/FerryServer/addPortResponse" message="tns:addPortResponse"/>
</operation>
<operation name="addFerryRoute">
<input wsam:Action="http://cs253/FerryServer/addFerryRouteRequest" message="tns:addFerryRoute"/>
<output wsam:Action="http://cs253/FerryServer/addFerryRouteResponse" message="tns:addFerryRouteResponse"/>
</operation>
<operation name="deletePort">
<input wsam:Action="http://cs253/FerryServer/deletePortRequest" message="tns:deletePort"/>
<output wsam:Action="http://cs253/FerryServer/deletePortResponse" message="tns:deletePortResponse"/>
</operation>
<operation name="deleteFerryRoute">
<input wsam:Action="http://cs253/FerryServer/deleteFerryRouteRequest" message="tns:deleteFerryRoute"/>
<output wsam:Action="http://cs253/FerryServer/deleteFerryRouteResponse" message="tns:deleteFerryRouteResponse"/>
</operation>
<operation name="getCompany">
<input wsam:Action="http://cs253/FerryServer/getCompanyRequest" message="tns:getCompany"/>
<output wsam:Action="http://cs253/FerryServer/getCompanyResponse" message="tns:getCompanyResponse"/>
</operation>
<operation name="getPortList">
<input wsam:Action="http://cs253/FerryServer/getPortListRequest" message="tns:getPortList"/>
<output wsam:Action="http://cs253/FerryServer/getPortListResponse" message="tns:getPortListResponse"/>
</operation>
<operation name="getFerryList">
<input wsam:Action="http://cs253/FerryServer/getFerryListRequest" message="tns:getFerryList"/>
<output wsam:Action="http://cs253/FerryServer/getFerryListResponse" message="tns:getFerryListResponse"/>
</operation>
</portType>
<binding name="FerryServerPortBinding" type="tns:FerryServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPort">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPort">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addFerryRoute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePort">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteFerryRoute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPortList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFerryList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FerryServerService">
<port name="FerryServerPort" binding="tns:FerryServerPortBinding">
<soap:address location="http://localhost:8080/Coursework253/FerryServerService"/>
</port>
</service>
</definitions>